
@{
    ViewBag.Title = "Validation";
}

@if (Model != null)
{
    <h1>@Model.fullname</h1>
    <h1>@Model.aiubid</h1>
}

<h2>Validation</h2>

<form action="" method="post">
    <input type="text" class="form-control" name="fullname" placeholder="Enter your name" value="@(Model == null ? "" : Model.fullname)">
    <p class="text-danger">@Html.ValidationMessage("fullname")</p>

    <input type="text" class="form-control" name="aiubid" placeholder="Enter your id" value="@(Model == null ? "" : Model.aiubid)">
    <p class="text-danger">@Html.ValidationMessage("aiubid")</p>

    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="fmale"> Female <br/>
    <p class="text-danger">@Html.ValidationMessage("gender")</p>

    <input type="email" class="form-control" name="aiubmail" placeholder="Enter your aiub email" value="@(Model == null ? "" : Model.aiubmail)">
    <p class="text-danger">@Html.ValidationMessage("aiubmail")</p>

    <input type="password" class="form-control" name="pass" placeholder="password" value="@(Model == null ? "" : Model.pass)">
    <p class="text-danger">@Html.ValidationMessage("pass")</p>

    <input type="password" class="form-control" name="cpass" placeholder="Confirm password" value="@(Model == null ? "" : Model.cpass)">
    <p class="text-danger">@Html.ValidationMessage("cpass")</p>

    <input type="datetime" class="form-control" name="dob" placeholder="Enter your date of birth" value="@(Model == null ? "" : Model.dob)">
    <p class="text-danger">@Html.ValidationMessage("dob")</p>

    <input type="submit" class="form-control alert-success" name="submit">
</form>