
@{
    ViewBag.Title = "EmployeeList";
}

<h2>Employee List</h2>
<table class="table table-bordered">
    <tr>
        <td>Serial No.</td>
        <td>Employee ID</td>
        <td>Employee Name</td>
        <td>Employee Status</td>
        <td>Operations</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.emp_id</td>
            <td>@item.emp_name</td>
            <td>@item.emp_status</td>
            <td>@Html.ActionLink("Update", "EditEmployee", "Employee")   ||   @Html.ActionLink("Delete", "DeleteEmployee", "Employee")</td>
        </tr>
    }
</table>