@model IEnumerable<ZeroHunger.Database.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Create Employee", "Create")</li>
        <li>@Html.ActionLink("Pending Orders", "Collect")</li>
        <li>@Html.ActionLink("Collection", "Complete")</li>
    </ul>
</div> 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dob)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
