@model BLL.DTOs.NewsDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div>
        <h4>NewsDTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.categoryId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.categoryId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>
    
        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
