@model DAL.ZH_EF_CF.Models.Employee_info

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>Employee_info</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.emp_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emp_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emp_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emp_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emp_status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emp_status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
